<div class="container">
  <div class="row border-bottom pt-3 pb-3">
    <div class="cute col text-center"><strong>Column</strong></div>
    <div class="cute col text-center">Column</div>
    <div class="cute row"></div>
    <div class="cute col text-center">Column</div>
    <div class="cute col text-center">Column</div>
  </div>
</div>
