<div class="container">
  <div class="row border-bottom pt-3 pb-3">
    <div class="cute col text-center"><strong>Column</strong></div>
    <div class="cute col text-center">Column</div>
    <div class="cute row"></div>
    <div class="cute col text-center">Column</div>
    <div class="cute col text-center">Column</div>
  </div>
</div>

<div class="container topit">
  <div class="row">
  <div class="col-md-4 red big border sweets">
    t
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
  <div class="col-md-4 red big border sweets">
    r
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
  <div class="col-md-4 red big border sweets">
    e
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 red big border sweets">
    w
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
  <div class="col-md-4 red big border sweets">
    q
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
  <div class="col-md-4 red big border sweets">
    l
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 red big border sweets">
    k
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
  <div class="col-md-4 red big border sweets">
    h
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
  <div class="col-md-4 red big border sweets">
    g
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 red big border sweets">
    f
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
  <div class="col-md-4 red big border sweets">
    d
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
  <div class="col-md-4 red big border sweets">
    s
    <div class="mentex cute">
      Placeholder Text
    </div>
  </div>
</div>
</div>
