body{
  margin: 0 auto;
}

.nodec{
  text-decoration: none;
  color: black;
}
.nodec:hover{
  color: black;
}

.red {
  background-color: red!important;
  /* height: 10vh;
  width: 100vw; */
}

.cute{
  font-family: 'Comfortaa', cursive;
}

.topit{
  position: relative;
  top: 10px;
}

.big{
  width: 25vw;
  height: 35vh;
  transition: all .2s ease-in-out;
}

.big:hover{
  animation: scaleup 0.5s ease-out 0.1s alternate both;
  z-index: 2;
  /* display: block; */
}
.mentex{
  top: 70%;
  position: relative;
  height: 20%;
  width: 100%;
  background-color: white;
  opacity: 0.5;
}
p{

}

.gap{
margin-top: 1px;
margin-left: 1px;
}
.sweets{
  background-image: url('https://images-gmi-pmc.edge-generalmills.com/e8198dd2-770b-4c7c-a748-ca7538cf48d0.jpg');

}


@keyframes scaleup {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes scaledown {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
