body{
  margin: 0 auto;
}


.red {
  background-color: red!important;
  height: 10vh;
  width: 100vw;
}

.cute{
  font-family: 'Comfortaa', cursive;
}

.topit{
  position: relative;
  top: 10px;
}

.big{
  width: 100vw;
  height: 25vh;
}

.mentex{
  top: 70%;
  position: relative;
}
