body{
  margin: 0 auto;
}


.red {
  background-color: red!important;
  /* height: 10vh;
  width: 100vw; */
}

.cute{
  font-family: 'Comfortaa', cursive;
}

.topit{
  position: relative;
  top: 10px;
}

.big{
  width: 25vw;
  height: 35vh;
}

.mentex{
  top: 70%;
  position: relative;
  height: 20%;
  width: 100%;
  background-color: white;
  opacity: 0.5;
}

.gap{
margin-top: 1px;
margin-left: 1px;
}
.sweets{
  background-image: url('https://images-gmi-pmc.edge-generalmills.com/e8198dd2-770b-4c7c-a748-ca7538cf48d0.jpg');

}
